# Coursera Captone project IBM Python Data Analysis
Week 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import BeautifulSoup
import requests
from bs4 import BeautifulSoup

In [3]:
# get website for Toronto
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [4]:
# Create a BeautifulSoup object
soup = BeautifulSoup(page.text, 'html.parser')

In [97]:
# define the dataframe columns
column_names = ['Postcode', 'Borough', 'Neighborhood'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)
neighborhoods.head

<bound method NDFrame.head of Empty DataFrame
Columns: [Postcode, Borough, Neighborhood]
Index: []>

In [98]:
# Pull all text from the BodyText div
toronto_table = soup.find(class_='wikitable')


#new_table = pd.DataFrame(index, columns=range(0,2)) # I know the size     
row_marker = 0
for row in toronto_table.find_all('tr'):
    column_marker = 0
    columns = row.find_all('td')
    new_row ={}
    for column in columns:
        value = column.get_text()
        if column_marker==0:
            new_row['Postcode'] = value
        elif column_marker==1:
            new_row['Borough']=value
        elif column_marker==2:
            new_row['Neighborhood']=value
        column_marker += 1

    neighborhoods=neighborhoods.append(new_row,ignore_index=True)

neighborhoods.head()

  Postcode       Borough        Neighborhood
0      NaN           NaN                 NaN
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

Identify and remove missing values
Replace ? with NaN

In [100]:
# replace "?" to NaN
neighborhoods.replace("?", np.nan, inplace = True)
neighborhoods.head(5)

  Postcode       Borough        Neighborhood
0      NaN           NaN                 NaN
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

Remove all rows when postcode is NaN

In [103]:
# simply drop whole row with NaN in "Poscode" column
neighborhoods.dropna(subset=["Postcode"], axis=0, inplace = True)

# reset index, because we droped rows
neighborhoods.reset_index(drop = True, inplace = True)
neighborhoods.head(5)

  Postcode           Borough        Neighborhood
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

Remove the extra \n character and replace "not Assigned" with NaN

In [106]:
# remove "\n"
neighborhoods['Neighborhood'] = neighborhoods['Neighborhood'].map(lambda x: x.rstrip('\n'))

# replace "Not Assigned" to NaN
neighborhoods.replace("Not assigned", np.nan, inplace = True)
neighborhoods.head(5)

  Postcode           Borough      Neighborhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Remove all rows that are greyed out (neither Borough nor Neighborhood)

In [110]:
neighborhoods.dropna(subset=['Borough', 'Neighborhood'], how='all',axis=0, inplace = True)
neighborhoods.head(5)

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Make the value of Borough and neighborhood equal if either one is NaN

In [115]:
neighborhoods.loc[neighborhoods['Borough'].isnull(), 'Borough'] = neighborhoods['Neighborhood']
neighborhoods.loc[neighborhoods['Neighborhood'].isnull(), 'Neighborhood'] = neighborhoods['Borough']
neighborhoods.head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [120]:
print("The dataframe has the following number of rows and columns:")
neighborhoods.shape

The dataframe has the following number of rows and columns:

(212, 3)